/* Encabezado y pie de página */
header {
    background-color: rgb(61, 84, 8);
    padding: 10px 0;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

footer {
    background-color: rgb(61, 84, 8);
    padding: 20px 0;
}

/* Carrusel */
.carousel-indicators button {
    background-color: rgb(61, 84, 8);
    border-color: rgb(61, 84, 8);
}

.carousel-indicators button.active {
    background-color: rgb(61, 84, 8);
}

.carousel-inner img {
    width: auto;
    height: auto;
    max-height: 400px;
}

.carousel-container {
    max-width: 800px; /* Ancho máximo deseado para el carrusel */
    margin: 0 auto; /* Para centrar el carrusel horizontalmente en la página */
}

/* Imágenes de categorías y botones personalizados */
.img-categoria {
    width: 300px;
    height: 300px;
}

.btn-custom {
    background-color: rgb(61, 84, 8);
    border-color: rgb(61, 84, 8);
    color: white;
}

/* Imágenes en tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Imágenes fluidas */
.img-fluid {
    max-width: 80%;
    height: 80%;
}

/* Iconos de servicios */
.services-icon-wap .h1,
.services-icon-wap .h1 i {
    color: rgb(61, 84, 8) !important;
}

/* Ajustes de propiedades CSS */

/* Filtro */
.filter-class {
    filter: alpha(opacity=50); /* Para versiones más antiguas de IE */
    filter: opacity(0.5); /* Estándar */
}

/* Ajuste del tamaño del texto */
.text-size-adjust-class {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Soporte para Safari */
}

/* Alineación del texto */
.text-align-match-parent-class {
    text-align: match-parent;
}
